html{
font-family: "Lucida Grande", Lucida Sans Unicode, "Source Han Sans CN", "Hiragino Sans GB", WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
-webkit-font-smoothing: antialiased;
}
/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
  box-sizing: border-box;
}